/*  */

/* Bars */

#topbar {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}

#monthselect {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#monthselect > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    border: 3px solid black;
    margin: 0.3em;
}

#tasks {
    background-color: white;
    flex: 1 1 auto;
}

#content {
    display: flex;
}

/* Tasks */

.day {
    background-color: lavender;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border-radius: 1em;
}

.day-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.day-header > p {
    font-weight: bold;
}

.day-content {
    display: flex;
    flex-direction: column;
}